/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Root Styles */
html {
  font-size: 18px;
}

:root {
  --color-1: hsl(185, 75%, 39%); /* Dark cyan */
  --color-2: hsl(229, 23%, 23%); /* Very dark desaturated blue */
  --color-3: hsl(227, 10%, 46%); /* Dark grayish blue */
  --color-neutral: hsl(0, 0%, 59%); /* Dark gray */
  --font-primary: "Kumbh Sans", sans-serif;
}

/* General Styles */
* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-1);
}

main {
  height: 100vh;
  display: grid;
}

.card {
  max-width: 350px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.background {
  height: 7rem;
  background-image: url(./images/bg-pattern-card.svg);
}

.image {
  background-image: url(./images/image-victor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid #fff;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0;
  border-top: 1px solid var(--color-neutral);
}

.stat {
  justify-self: center;
  text-align: center;
}

.stat > h2 {
  font-size: 1rem;
}

.stat > p {
  font-size: 0.6rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
